<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-4">Torre Project</h1>
        <p class="lead">A New Way To Apply A Job</p>
    </div>
</div>
<p></p>
<div class="card-deck">
    <div class="card">
        <img src="../../../assets/img/Company.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Company</h5>
            <p class="card-text">My company has some needs to solve.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/Person.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Person</h5>
            <p class="card-text">I can solve your needs!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>



<!-- <div class="jumbotron text-center">
    <div class="view overlay my-5">
        <img src="/assets/img/Buttons/Banner2.jpeg" class="img-fluid" alt="" />
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <a [routerLink]="['/orders']">
                    <img src="/assets/img/Buttons/BtnPedidos.png " width="200px" /></a>
            </div>
            <div class="col">
                <a [routerLink]="['/productionProcess']">
                    <img src="/assets/img/Buttons/BtnProcesos.png " width="200px " /></a>
            </div>
            <div class="col">
                <a [routerLink]="['/cashMovements']">
                    <img src="/assets/img/Buttons/BtnCaja.png " width="200px " /></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a [routerLink]="['/persons']"><img src="/assets/img/Buttons/BtnPersonas.png " width="200px " /></a>
            </div>
            <div class="col">
                <a [routerLink]="['/products']"><img src="/assets/img/Buttons/BtnProductos.png " width="200px " /></a>
            </div>
            <div class="col">
                <a [routerLink]="['/services']"><img src="/assets/img/Buttons/BtnServicios.png " width="200px " /></a>
            </div>
        </div>
    </div>
</div> -->